

@font-face {
    font-family: 'helsinki';
    src: url("helsinki.ttf")
}

    

body {
    font-family: helsinki
}

h1 {

    font-size: 80px
}

h1,
h2,
h3,
h4 {
    text-align: center
}

h1 {
    color: black
}

h2,
h3,
h4 {
    font-size: 20px
}


p {
    text-align: center
}


body {

    background-color: #ffb142
}

body {

    background-size: cover
}
h1 {

    text-shadow: 10px 10px 30px black
}
section
{
display:flex;
    padding-top: 30px     
    vertical-align: middle;
    margin-right: 8px;

        
}

#experience

{
    margin-right: auto;
    width:30%
          justify-content: space-between;
      border: 2px solid  black  
}

#competences
{
    margin-right: auto;
    width:30%
         justify-content: space-between;
     border: 2px solid  black  
}

#formation
{
    margin-right: auto;
    width:30%
         justify-content: space-between;
     border: 2px solid  black  
                
}

.liseret 
{
 
	float: left;
	width:90px;
    height: 1000px;
    background-color: #324A52;
}

@media all and (max-width: 1024px)
{
    section
    {
        display: block;
        width: auto;
    }

    .liseret
    {
        display: none;
    }

    #contenu
    {
        width: auto;
    }

}








